@import '../../../../variables'; 

.description-container{
    max-width: 1920px;
    background-color: $color32;
    padding-top: 109px;
    padding-bottom: 120px;
    margin-top: 129px;
}
.description{
    margin-left: auto;
    margin-right: auto;
    max-width: 1153px;
    padding-bottom: 120px
    }
.first-line-description{
    display: flex;
    gap: 63px;
}
.first-line-description .additional-information{
    margin-left: 22px;
}
.first-line-description p{
    font-size: 24px;
    line-height: 28.13px;
    font-family: $font-family5;
    color: $color1;
}
.varius-more-details{
    font-size: 22px;
    line-height: 25.78px;
    font-family: $font-family5;
    color: $color1;
    margin-top: 30px;
}
.varius-details-text{
    font-size: 16px;
    line-height: 29px;
    font-family: $font-family1;
    color: $color28;
}
.aliquam{
    display: flex;
    gap: 12px;
}