@import "../..//variables";
.signup {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}
.signup-box {
  margin-left: auto;
  margin-right: auto;
  width: 544px;
  height: 600px;
  background: $white;
  box-shadow: $box-shadow;
  padding-top: 50px;
  text-align: center;
  
}
.signup-box h1 {
  font-family: $font-family5 ;
  font-size: 32px;
  line-height: 38px;
  color: $black;
}
.signup-box form {
    padding-left: 55px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  .validation-error{
    color:rgba(245, 81, 81, 0.904);
    text-align: start;
  }
}
.username-signup{
  width: 432px;
  &.with-error{
    margin-bottom: -15px;
    input{
        border: 1px solid red;
    }   
}
}
.signup-box input {
  width: 432px;
  height: 52px;
  background: $white;
  border: 1px solid $color9;
  border-radius: 2px;
  font-family: $font-family2;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.signup-box button{
    width: 432px;
  height: 52px;
  background: $color2;
  border: 1px solid $color2;
  border-radius: 2px;
  font-family: $font-family2;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $white;
  cursor: pointer;
}
.signup-box span{
    font-family: $font-family2;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: $color5;
}
.login {
    margin-top: 30px;
}
.signup-box a{
  font-family: $font-family2;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: $color3;
}
