@import '..//..//..//..//variables';
.unique{
    background:$color12;
    margin-bottom: 132px;
    height: 580px;
    display: flex;
    align-items: center;

}
.unique-main{
    max-width: 1065px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    display: flex;
    align-items: center;
  
}
.furniture{
    height: 550px;
    width: 558px;
    border-radius: 0px;
}

.information{
    width: 507px;
    height: 328px;
    margin-bottom: 97px;
}

.unique-features{
    font-family: $font-family5;
font-size: 35px;
line-height: 46px;
letter-spacing: 0.015em;
color: $color1;
margin: 0;
margin-bottom: 29px;
}


.cyan , .blue , .red{
    height: 11px;
    width: 11px;
}
 .unique-text-one , .unique-text-two , .unique-text-three{
    font-family: $font-family3;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.015em;
color: $color13;
margin: 0;

 }
 .unique-text-one , .unique-text-three{

    line-height: 21px;
 }
 .unique-text-two{
    line-height: 28px;
 }
 .button-and-value{
    width: 290px;
    display: flex;
    justify-content: space-between;
    .button-add{
      font-family: $font-family5;
       padding: 16px 41px;
       border: none;
       background-color:$color2;
       color: $white;
       border-radius: 3px;
       text-decoration: none;
   }
   .button-add:hover{
       background-color: $white;
       color:$color2;
       border:1px solid $color2;
   }
}

 .brend{
    font-family: $font-family5;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    color: $color1;
    margin: 0;
 }

 .value{
    font-family: $font-family3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color1;
    margin: 0;
 }
 .brend-value{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
 }

 .for-margin{
    margin-bottom: 13px;
    display: flex;
    gap: 12px;

 }
 .for-margin-two{
    margin-bottom: 38px;
    display: flex;
    gap: 12px;
 }

 .red ,.cyan{
    margin-top: 3px;
 }
 .blue{
    margin-top: 9px;
 }