@font-face {
    font-family: "Josefin";
    src: url("../font/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: Lato;
    src: url("../font/Lato-Black.ttf");
}
$font-family:Josefin;
$font-family2:Lato;
$color:#151875;



.trending-product{
    background-color: white;
    margin-bottom: 132px;
    .header_title{
        text-align: center;
        padding-bottom: 39px;
        font-family: $font-family;
    }
    h1,h3,p{
        color:$color;
        text-align: center;
    }
    p{
        font-family: $font-family2;
    }
    .card-group{
        display: flex;
        justify-content: center;
        gap:53px;
        .card{
            padding: 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .card-text{
            display: flex;
            justify-content: center;
            gap:12px;
            s{
                color:#1518754D;
                font-family: $font-family;
            }
            b{
                font-family: $font-family;
            }
        }
    }
    .amonfOffers{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap:29px;
        h3{
            font-family: $font-family;
        }
        a{
            color:#FB2E86;
            font-family: $font-family2;
        }
        .card_1{
            padding-left: 25px;
            width: 420px;
            height: 270px;
            background-color: #FFF6FB;
            h2{
                color:$color;
                font-family: $font-family;
            }
            .card_img{
                display: flex;
                justify-content: flex-end;
                .card_image{
                    margin-top: -15px;
                }
            }
        }
        .card_2{
            padding-left: 25px;
            width: 420px;
            height: 270px;
            background-color: #EEEFFB;
            h2{
                color:$color;
                font-family: $font-family;
            }
            .card_img{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .executiveChairCard{
        .chair-image{
            background:#F5F6F8;
            padding: 5px 25px;
        }
        s{
            font-family: $font-family;
        }
        .card-right{
            margin:15px 9px;
        }
        
        h3,p{
            margin: 0;
            text-align: start;
        }
        .executiveChair-1{
            margin-bottom:11px;
           display: flex; 
        }
        .executiveChair-2{
            margin-bottom:11px;
            display: flex; 
        }
         .executiveChair-3{
            display: flex; 
        }
    }
}