@import "../../../../variables";
.NotFoundPage{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.not-found-image{
    max-width: 913px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.not-found-image p{
    font-family: $font-family5;
    font-size: 24px;
    line-height: 28.13px;
    color: $color1;
}.not-found-image button{
    background-color: $color2;
    width: 165px;
    height: 44px;
    border-radius: 3px;
    font-family: $font-family5;
    font-size: 16px;
    line-height: 25.6px;
    color: $white;
    border-color: $color2;
}