$color1:#151875;
$color2:#FB2E86;
$color3:#8A8FB9;
$color4:#1518754D;
$color5:#72718F;
$color6:#000000;
$color7:#9DA0AE;
$color8:#7E33E0;
$color9:#F1F1F1;
$color10:#0D0E43;
$color11:#E7E6EF;
$color12:#F1F0FF;
$color13:#ACABC3;
$color14:#B7BACB;
$color15:#B8B8DC;
$color16:#1D3178;
$color17:#A1ABCC;
$color18:#F8F8FD;
$color19:#CDCEDC;
$color20:#8990B1;
$color21:rgba(26, 11, 91, 0.3);
$color22:#1a0b5b;
$color23: #08d15f;
$color24: #c2c5e1;
$color25:rgba(164, 182, 200, 0.7);
$color26:#101750;
$color27:#8D92A7;
$white:white;
$black:black;
$yellow:#FF9100;
$box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
$bg-color1:#F2F0FF;
$bg-color2:#FFF6FB;
$bg-color3:#EEEFFB;
$bg-color4:#F5F6F8;
$bg-color5:#E7E4F8;
$bg-color6:#FFFFFF;
$bg-color7:#FCECF1;
$bg-color8:#F6F7FB;
$bg-color9:#2f1ac4;
$bg-color10:#f6f7fb;
$bg-color11:#FF1788;
$bg-color12:#5625DF;
$bg-color13:#FF27B7;
$bg-color14:#37DAF3;
$bg-color15:#1BE982;
$bg-color16:#5726DF;
$bg-color17:#FFB265;
$bg-color18:#DE9034;
$bg-color19:#EC42A2;
$bg-color20:#8568FF;



$font-family1:Josefin;
$font-family2:Lato-Regular;
$font-family3:Lato;
$font-family4:Roboto;
$font-family5:Josefin Sans ;