$color1:#151875;
$color2:#FB2E86;
$color3:#8A8FB9;
$color4:#1518754D;
$color5:#72718F;
$color6:#000000;
$color7:#9DA0AE;
$color8:#7E33E0;
$color9:#F1F1F1;
$color10:#0D0E43;
$color11:#E7E6EF;
$white:white;
$box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
$bg-color1:#F2F0FF;
$bg-color2:#FFF6FB;
$bg-color3:#EEEFFB;
$bg-color4:#F5F6F8;
$bg-color5:#E7E4F8;
$bg-color6:#FFFFFF;


$font-family1:Josefin;
$font-family2:Lato-Regular;
$font-family3:Lato;
$font-family4:Roboto;
$font-family5:Josefin Sans ;