@import 'variables';

@font-face {
  font-family: "Josefin";
  src: url("../src/components/font/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../src/components/font/Lato-Black.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: url("../src/components/font/Lato-Regular.ttf");
}